<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700&display=swap&subset=arabic"
        rel="stylesheet">
  <title>CryptoCurrency</title>
  <!-- Reset browser styles -->
  <link href="../static/css/custom-reset.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="../static/css/sass/main.css" rel="stylesheet">
  <link href="../static/css/sass/media.css" rel="stylesheet">
  <!-- Animate -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <!-- Slider -->
  <link rel="stylesheet" href="../static/libs/noUiSlider-master/nouislider.min.css">
  <link href="../static/libs/slick/slick.css" rel="stylesheet">
  <link href="../static/libs/slick/slick-theme.css" rel="stylesheet">

</head>
<body>
<div class="gradient-wrapper_header">
  <div class="gradient-wrapper_navbar">
    <div class="container">
      <header>
        <div class="row desktop-mob align-items-center">
          <div class="col-md-2">
            <div class="sign-up">
              <a href="#signup">
                <button>Sign up</button>
              </a>
            </div><!-- /.sign-up -->
          </div><!-- /.col-md-3 -->
          <div class="col-md-8">
            <nav>
              <ul>
                <li><a href="#solution">About us</a></li>
                <li><a href="#ecosystem">Ecosystem</a></li>
                <li><a href="#why">Why</a></li>
                <li><a href="#roadmap">Roadmap</a></li>
                <li><a href="#team">Team</a></li>
              </ul>
            </nav>
          </div><!-- /.col-md-7 -->
          <div class="col-md-2">
            <div class="logo">
              <a href="#"><p><img src="../static/img/logo.png" alt=""></p></a>
            </div>
          </div><!-- /.col-md-2 -->
        </div><!-- /.row -->
        <div class="row mob">
          <div class="col-md-12 mob-padding">
            <div class="logo-mob">
              <p><img src="../static/img/logo.png" alt=""></p>
            </div>
            <div class="mob-menu">
              <div class="burger"></div>
              <div class="burger"></div>
              <div class="burger"></div>
            </div>
            <div class="mob-nav">
              <div class="close">
                <img src="../static/img/close.png" alt="close button">
              </div>
              <div class="mob-nav_logo">
                <p>Logo</p>
              </div>
              <ul>
                <li><a href="#solution">About us</a></li>
                <li><a href="#ecosystem">Ecosystem</a></li>
                <li><a href="#why">Why</a></li>
                <li><a href="#roadmap">Roadmap</a></li>
                <li><a href="#team">Team</a></li>
              </ul>
            </div>
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </header>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="phone-img desktop-mob">
          <img src="../static/img/img-header.png" alt="phones with app">
        </div>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6 ">
        <div class="ico-title">
          <h2>شمس شمسك التي لا تغيب</h2>
        </div>
        <div class="ico-start">
          <p>بداية الإكتتاب</p>
          <span>١ يناير ٢٠٢٠</span>
        </div><!-- /.ico-start -->
        <!--						<div class="ico-duration">-->
        <!--							<p>ico duration</p>-->
        <!--							<span>3 weeks</span>-->
        <!--						</div>&lt;!&ndash; /.ico-duration &ndash;&gt;-->
        <div class="remaining-time" id="clockdiv">
          <span class="days"></span> <b>:</b>
          <span class="hours"></span> <b>:</b>
          <span class="minutes"></span> <b>:</b>
          <span class="seconds"></span>
          <!--							<p>days</p>-->
        </div><!-- /.remaining-time -->
        <div class="phone-img mob">
          <img src="../static/img/img-header.png" alt="phones with app">
        </div>
        <div class="download-app">
          <h5>اية الإكتتاب</h5>
          <h2> الإكتتاب</h2>
          <p><span> لا تغيب</span> شمس شمسك التي</p>
          <a href=""><img src="../static/img/button_appstore_apple.png" alt="App Store button"></a>
          <a href=""><img src="../static/img/google-play.png" alt="Google play button"></a>
        </div><!-- /.download-app -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-md-12">
        <div class="problem" data-aos="fade-up" id="problem">
          <div class="row text-center justify-content-center">
            <div class="col-md-12">
              <div class="problem-title">
                <h2>الأحيان.</h2>
                <p>أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة
                  يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في
                  محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان.
                  غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية.</p>
              </div><!-- /.problem-title -->
            </div><!-- /.col-md-12 -->
            <div class="col-md-10 problem-video ">
              <div class="embed-responsive embed-responsive-16by9 mt-5">
                <iframe id="videoPlayer" class="embed-responsive-item"
                        src="https://www.youtube.com/embed/L1vAQztojfw?enablejsapi=1&amp;html5=1&amp;rel=0&amp;&amp;showinfo=0"
                        allowfullscreen></iframe>
              </div>
            </div><!-- /.row -->
            <div class="row desktop-mob">
              <div class="col-md-4">
                <div class="problem-deskription ">
                  <img src="../static/img/icon_supplier.png" alt="chart">
                  <h6>الأحيان.</h6>
                  <hr>
                  <p> الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
                </div><!-- /.problem-deskription -->
              </div><!-- /.col-md-4 -->
              <div class="col-md-4">
                <div class="problem-deskription">
                  <img src="../static/img/icon_customer1.png" alt="chart">
                  <h6>الأحيان.</h6>
                  <hr>
                  <p> الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
                </div><!-- /.problem-deskription -->
              </div><!-- /.col-md-4 -->
              <div class="col-md-4">
                <div class="problem-deskription ">
                  <img src="../static/img/icon_driver.png" alt="chart">
                  <h6>الأحيان.</h6>
                  <hr>
                  <p> الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
                </div><!-- /.problem-deskription -->
              </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
            <div class="row mob">
              <div class="col-md-12">
                <div class="problem-slider">
                  <div class="problem-direction">
                    <div class="problem-slide">
                      <div class="problem-direction">
                        <div class="problem-slide">
                          <div class="problem-deskription ">
                            <img src="../static/img/icon_supplier.png" alt="chart">
                            <h6>الأحيان.</h6>
                            <hr>
                            <p> الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
                          </div><!-- /.problem-deskription -->
                        </div>
                      </div><!-- /.problem-deskription -->
                    </div>
                    <div class="problem-slide">
                      <div class="problem-deskription">
                        <img src="../static/img/icon_customer1.png" alt="chart">
                        <h6>الأحيان.</h6>
                        <hr>
                        <p> الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
                      </div><!-- /.problem-deskription -->
                    </div>
                    <div class="problem-slide">
                      <div class="problem-deskription ">
                        <img src="../static/img/icon_driver.png" alt="chart">
                        <h6>الأحيان.</h6>
                        <hr>
                        <p> الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
                      </div><!-- /.problem-deskription -->
                    </div>
                  </div><!-- /.problem-direction -->
                </div>
                <!-- /.problem-slider -->
              </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
          </div><!-- /.problem -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.gradient-wrapper_header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="solution" data-aos="fade-up" id="solution">
          <div class="row">
            <div class="col-md-6 solution-title order-md-2">
              <h3>حتى في بعض</h3>
              <h5>هوز الجزر الخدمة.</h5>
              <div><p>  الكرة الطائرة أو قوس </p><span>1</span></div>
              <div><p>   محفوظة يتلقى المطورين</p><span>2</span></div>
              <div><p>  بعض الأحيان </p><span>3</span></div>
              <div><p>  ن الدعاية. أبجد هوز </p><span>4</span></div>
              <div><p>  لجزر الخدمة. اعبي الكر </p><span>5</span></div>
              <div><p>   أو قوس حتى في  </p><span>6</span></div>
              <div><p>   أو قوس حتى في </p><span>7</span></div>
              <div><p>  الكرة الطائرة أو قوس </p><span>8</span></div>
            </div>
            <div class="col-md-6 solution-image order-md-1">
              <img src="../static/img/img1.png" alt="">
            </div>

          </div><!-- /.row -->
          <!-- /.problem-slider -->
        </div><!-- /.solution -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="gradient-wrapper_sign" id="signup">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="create-account" data-aos="fade-up">
            <form action="">
              <p class="text-center">بعض الأحيان</p>
              <label class="text-right" for="name">الأحيان3</label>
              <input dir="rtl" type="text" id="name" placeholder="الأحيان" required>
              <label class="text-right" for="e-mail">قوس </label>
              <input dir="rtl" type="email" id="e-mail" placeholder="قوس " required>
              <label class="text-right" for="interested">لكرة الطائرة أو قوس</label>
              <input dir="rtl" type="text" id="interested" placeholder="لكرة الطائرة…" required>
              <label class="text-right" for="interested">لكرة الطائرة أو قوس</label>
              <input dir="rtl" type="text" id="interested1" placeholder="لكرة الطائرة…" required>
              <input type="submit" value=" قوس">
            </form>
          </div><!-- /.create-account -->
        </div><!-- /.col-md-6 -->
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="exclusive-invite" data-aos="fade-up">
            <div class="row text-center">
              <div class="col-lg-12 text-right">
                <h3> قوس حتى</h3>
                <h4>الدعاية. أبجد هوز</h4>
                <p>أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة</p>
              </div>
              <div class="col-lg-12 exclusive-invite-img mob">
                <img src="../static/img/img2.png" alt="">
              </div>

            </div>

          </div><!-- /.exclusive-invite -->
        </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.gradient-wrapper_sign -->
  <div class="container">
    <div class="ecosystem" id="ecosystem">
      <div class="row">
        <div class="col-md-12">
          <div class="ecosystem-title">
            <h3> المطورين الدعاية.</h3>
          </div>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-xl-3" data-aos="fade-right">
          <div class="ecosystem-block">
            <div class="ecosystem-deskription">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/drug.svg" alt="drug">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription consulting-fix">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/chef.svg" alt="chef">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/shopping-basket.svg" alt="basket">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/1wallet.svg" alt="wallet">
            </div><!-- /.ecosystem-deskription -->
          </div><!-- /.ecosystem-block -->
        </div><!-- /.col-md-3 -->
        <div class="col-xl-6">
          <div class="ecosystem-circle">
<!--            <img src="../static/img/svg/1wallet.svg" alt="wallet">-->
<!--            <p>Customer</p>-->
          </div><!-- /.ecosystem-circle -->
        </div><!-- /.col-md-6 -->
        <div class="col-xl-3 desktop-mob" data-aos="fade-left">
          <div class="ecosystem-block_right">
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة </span>
              <img src="../static/img/svg/taxi.svg" alt="taxi">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/delivery-man.svg" alt="man">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/world.svg" alt="world">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/shirt.svg" alt="shirt">
            </div><!-- /.ecosystem-deskription -->
          </div><!-- /.ecosystem-block_right -->
        </div><!-- /.col-md-3 -->
        <div class="col-xl-3 mob">
          <div class="ecosystem-block_right">
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/taxi.svg" alt="taxi">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/delivery-man.svg" alt="man">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/world.svg" alt="world">
            </div><!-- /.ecosystem-deskription -->
            <div class="ecosystem-deskription_right">
              <span>الكرة الطائرة</span>
              <img src="../static/img/svg/shirt.svg" alt="shirt">
            </div><!-- /.ecosystem-deskription -->
          </div><!-- /.ecosystem-block_right -->
        </div><!-- /.col-md-3 -->
      </div><!-- /.row -->
    </div><!-- /.ecosystem -->
    <div class="reasons" id="why">
      <div class="row">
        <div class="col-lg-6">
          <div class="reasons-title tablet">
            <h4>Why you need it</h4>
          </div><!-- /.reasons-title -->
          <div class="reasons-indicators">
            <div class="reasons-indicators_index" data-aos="flip-up">99%<p>الطائرة</p></div>
            <div class="reasons-indicators_benefits">88% <p>الطائرة</p></div>
            <div class="reasons-indicators_savings">93% <p>الطائرة</p></div>
<!--            <div class="reasons-indicators_customers" data-aos="flip-up">5 430 <p>Satisfied customers</p></div>-->
            <div class="reasons-indicators_businesses" data-aos="flip-up">10 334 <p>الطائرة</p></div>
          </div><!-- /.reasons-indicators -->
        </div><!-- /.col-md-5 -->
        <div class="col-lg-6 text-right">
          <div class="reasons-title ">
            <h4 class="desktop"> بعض ليس مجر</h4>
            <p>أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان</p>
          </div><!-- /.reasons-title -->
        </div><!-- /.col-md-7 -->
      </div><!-- /.row -->
    </div><!-- /.reasons -->
  </div><!-- /.container -->
  <div class="gradient-wrapper_get">
    <div class="container">
      <div class="benefit">
        <div class="row">
          <div class="col-md-12">
            <div class="benefit-title">
              <h3>أبجد هوز الجزر</h3>
            </div>
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div id="tabs">
          <div class="row">
            <div class="col-md-12">
              <div class="under-bed" id="tab-1">
                <p>1 000<b>$</b> = 1 000<b>$</b></p>
              </div>
              <div class="in-bank" id="tab-2">
                <p>1 000<b>$</b> = 1 350<b>$</b></p>
              </div>
              <div class="in-lorem" id="tab-3">
                <p>1 000<b>$</b> = <span id="more">1000</span><b>$</b></p>
              </div>
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-md-12">
              <div class="check-line">
                <hr>
                <ul>
                  <li><a href="#tab-1"></a><span>الطائرة </span></li>
                  <li><a href="#tab-2"></a><span class="fix-text">أبجدالطائرة </span></li>
                  <li id="timer"><a href="#tab-3"></a><span class="fix-text">مجرد أبجد</span></li>
                </ul>
                <p class="text-right">بجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيا</p>
              </div><!-- /.check-line -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /#tabs -->
      </div><!-- /.benefit -->
    </div><!-- /.container -->
  </div><!-- /.gradient-wrapper_get -->
  <div class="container">
    <div class="calculator">
      <div class="row">
        <div class="col-md-12">
          <div class="calculator-title">
            <h3 class="text-center">يتلقى المطورين</h3>
          </div>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-8">
          <div class="calculator-form">
            <form action="">
              <div class="calculator-form__invest">
                <label for="invest">I invest:</label>
                <div class="invest-slider calculator-form__slider">
                  <div class="calculator-form__plug">
                    <input type="hidden" id="invest" readonly>
                    <div class="calculator-form__steps">
                      <div class="calculator-form__step"><span>100</span></div>
                      <div class="calculator-form__step"><span>1 000</span></div>
                      <div class="calculator-form__step"><span>5 000</span></div>
                      <div class="calculator-form__step"><span>10 000</span></div>
                      <div class="calculator-form__step"><span>15 000</span></div>
                      <div class="calculator-form__step"><span>20 000</span></div>
                      <div class="calculator-form__step"><span>30 000</span></div>
                      <div class="calculator-form__step"><span>50 000</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- /.calculator-form_invest -->
              <div class="calculator-form__term">
                <label for="term">For the term:</label>
                <div class="term-slider calculator-form__slider">
                  <div class="calculator-form__plug">
                    <input type="hidden" id="term" readonly>
                    <div class="calculator-form__steps">
                      <div class="calculator-form__step"><span>1 day</span></div>
                      <div class="calculator-form__step"><span>15</span></div>
                      <div class="calculator-form__step"><span>1 month</span></div>
                      <div class="calculator-form__step"><span>3</span></div>
                      <div class="calculator-form__step"><span>6</span></div>
                      <div class="calculator-form__step"><span>9</span></div>
                      <div class="calculator-form__step"><span>12</span></div>
                    </div>
                  </div>
                </div>
              </div><!-- /.calculator-form_term -->
            </form>
          </div><!-- /.calculator-form -->
        </div><!-- /.col-md-8 -->
        <div class="col-lg-4">
          <div class="calculator-result">
            <p>Maximum income</p>
            <span><b id="result">3876</b>,00 $</span>
            <br>
            <button>Invest</button>
          </div><!-- /.calculator-result -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.calculator -->
  </div><!-- /.container -->
  <div class="gradient-wrapper_roadmap">
    <div class="container">
      <div class="roadmap" id="roadmap">
        <div class="row">
          <div class="col-md-12">
            <div class="roadmap-title">
              <h4>في محفوظة</h4>
            </div><!-- /.roadmap-title -->
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6">
            <div class="roadmap-month june">
              <div data-aos="zoom-in">
                <h6 class="text-center">June, 2018</h6>
                <p>الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة.
                </p>
              </div>
            </div><!-- /.roadmap-month -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-6">

          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6">

          </div><!-- /.col-md-6 -->
          <div class="col-md-6">
            <div class="roadmap-month july">
              <div data-aos="zoom-in">
                <h6 class="text-center">July, 2018</h6>
                <p>الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجز
                </p>
              </div>
            </div><!-- /.roadmap-month -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6">
            <div class="roadmap-month august">
              <div data-aos="zoom-in">
                <h6 class="text-center">August, 2018</h6>
                <p>الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز يس مجرد الجلوس
                </p>
              </div>
            </div><!-- /.roadmap-month -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-6">

          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6">

          </div><!-- /.col-md-6 -->
          <div class="col-md-6">
            <div class="roadmap-month september">
              <div data-aos="zoom-in">
                <h6 class="text-center">September, 2018</h6>
                <p> أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز
                </p>
              </div>
            </div><!-- /.roadmap-month -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-6">
            <div class="roadmap-month october">
              <div data-aos="zoom-in">
                <h6 class="text-center">October, 2018</h6>
                <p> أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجدحفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة
                </p>
              </div>
            </div><!-- /.roadmap-month -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-6">

          </div><!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-6">

          </div><!-- /.col-md-6 -->
          <div class="col-md-6">
            <div class="roadmap-month november">
              <div data-aos="zoom-in">
                <h6 class="text-center">November, 2018</h6>
                <p>الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية.
                </p>
              </div>
            </div><!-- /.roadmap-month -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.roadmap -->
    </div><!-- /.container -->
  </div><!-- /.gradient-wrapper_roadmap -->
  <div class="forget-download mob">
    <div class="forget-download_photo desktop">
      <img src="../static/img/img3.png" alt="phone with mobile app">
    </div>
    <div class="forget-download_description">
      <h4 class="text-center"> الجزر الخدمة</h4>
      <h5 class="text-center"> مجرد الجلوس في</h5>
      <p class="text-right">جد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى </p>
      <div class="forget-download_photo tablet">
        <img src="../static/img/img3.png" alt="phone with mobile app">
      </div>
      <a href=""><img src="../static/img/button_appstore_apple.png" alt="App Store button"></a>
      <a href=""><img src="../static/img/google-play.png" alt="Google play button"></a>
    </div><!-- /.forget-download_description -->
  </div><!-- /.forget-download -->
  <div class="container">
    <div class="row desktop-mob">
      <div class="col-md-12">
        <div class="forget-download">
          <div class="row">
            <div class="col-lg-6 order-sm-1 order-lg-1 padding-fix">
              <div class="forget-download_description">
                <h4 class="text-right"> الجزر الخدمة</h4>
                <h5 class="text-right"> مجرد الجلوس في</h5>
                <p class="text-right">جد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى في بعض الأحيان. غدا ليس مجرد الجلوس في محفوظة يتلقى المطورين الدعاية. أبجد هوز الجزر الخدمة. اعبي الكرة الطائرة أو قوس حتى </p>
                <div class="forget-download_photo tablet">
                  <img src="../static/img/img3.png" alt="phone with mobile app">
                </div>
                <a href=""><img src="../static/img/button_appstore_apple.png" alt="App Store button"></a>
                <a href=""><img src="../static/img/google-play.png" alt="Google play button"></a>
              </div><!-- /.forget-download_description -->
            </div><!-- /.col-md-7 -->
            <div class="col-lg-6 order-sm-2 order-lg-2 padding-fix">
              <div class="forget-download_photo desktop" data-aos="fade-up">
                <img src="../static/img/img3.png" alt="phone with mobile app">
              </div>
            </div><!-- /.col-md-5 -->
          </div><!-- /.row -->
        </div><!-- /.forget-download -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <footer class="footer ">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-2 hidden">
          <div class="sign-up">
            <a href="#signup">
              <button>Sign up</button>
            </a>
          </div><!-- /.sign-up -->
        </div><!-- /.col-md-3 -->
        <div class="col-lg-8 text-right hidden">
          <div class="footer-nav">
            <ul>
              <li><a href="#solution">About us</a></li>
              <li><a href="#ecosystem">Ecosystem</a></li>
              <li><a href="#why">Why </a></li>
              <li><a href="#roadmap">Roadmap</a></li>
              <li><a href="#team">Team</a></li>
            </ul>
          </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-2">
          <div class="footer-logo">
            <p><img src="../static/img/logo.png" alt=""></p>
          </div>
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
    </div>

  </footer>
</div>
  <!-- libreris -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
          integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <!-- page scripts -->
  <script src="../static/js/main.js"></script>
  <!-- Animate -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay: 50,
      duration: 500
    });
  </script>
  <!-- Slider -->
  <script src="../static/libs/wnumb-1.1.0/wNumb.js"></script>
  <script src="../static/libs/noUiSlider-master/nouislider.min.js"></script>
  <script src="../static/libs/slick/slick.js"></script>
  <script>
    $(function () {
      $("#tabs").tabs({active: 2});
    });

  </script>
  <script>
    $('.directions-block').slick({
      dots: true,
      infinite: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      prevArrow: '<img src="../static/img/prev-arrow.png" >',
      nextArrow: '<img src="../static/img/next-arrow.png" >',
      responsive: [
        {
          breakpoint: 991,
          settings: {
            prevArrow: '<img src="../static/img/left.png" >',
            nextArrow: '<img src="../static/img/right.png" >',
          }
        }
      ]
    });
    $('.directions-block_mob').slick({
      dots: true,
      infinite: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      prevArrow: '<img src="../static/img/left.png" >',
      nextArrow: '<img src="../static/img/right.png" >',
      responsive: [
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
      ]
    });
    $('.problem-direction').slick({
      dots: true,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      prevArrow: '<img src="../static/img/left.png" >',
      nextArrow: '<img src="../static/img/right.png" >'
    });
  </script>
</body>
</html>
